* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "RobotoLightItalic";
  src: url(fonts/Roboto-LightItalic.ttf) format("truetype");
  font-family: "RobotoExtraBold";
  src: url(fonts/Roboto-Bold.ttf) format("truetype");
  font-family: "RobotoLight";
  src: url(fonts/Roboto-Light.ttf) format("truetype");
}

:root {
  --clr-primary: #1f2937;
  --clr-secondary: #f9faf8;
  --clr-tertiary: #e5e7eb;
  --clr-accent: #3882f6;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-secondary);
}

main {
  flex: 1;
}

/* button */

.button {
  padding: 0.75em 2.25em;
  background-color: var(--clr-accent);
  color: var(--clr-secondary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button_secondary {
  border: 1px solid var(--clr-secondary);
}

.button:hover,
.button:focus {
  background-color: var(--clr-secondary);
  color: var(--clr-accent);
}

/* header */

.header {
  background-color: var(--clr-primary);
}

.header__inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__link {
  font-size: 18px;
  color: var(--clr-secondary);
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.header__link:hover,
.header__link:focus {
  color: var(--clr-accent);
}

/* section */

.section {
  height: 100%;
}

.section_dark {
  background-color: var(--clr-primary);
}

.section_accent {
  background-color: var(--clr-tertiary);
}

.section__inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 40px;
}

.section__inner_width {
  max-width: 700px;
}

/* footer */

.footer {
  background-color: var(--clr-primary);
}

.footer__inner {
  max-width: 1100px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer__contact {
  color: var(--clr-secondary);
}

.footer__text {
  color: var(--clr-secondary);
  font-size: 12px;
}
