@font-face {
  font-family: 'RobotoLightItalic';
  src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
  font-family: 'RobotoExtraBold';
  src: url(fonts/Roboto-Bold.ttf) format('truetype');
  font-family: 'RobotoLight';
  src: url(fonts/Roboto-Light.ttf) format('truetype');
}
/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.hero__container {
  max-width: 400px;
  color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.header__link{
  font-size: 18px;
  color:rgba(229, 231, 235, 0.79);
}
.hero__title {
  font-family: RobotoExtraBold;
  font-size: 48px;
  color:#f9faf8
}

.hero__description {
  font-family: RobotoLight;
  font-size: 18px;
  color:#e5e7ebd5;
  letter-spacing: 1px;
}

.hero__wrapper {
  
}

.hero__img {
  width: 80%;
  height: auto;
  margin-left: 13rem;
}

/* Products */

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.products__title {
  font-family: RobotoExtraBold;
  font-size: 36px;
  color:#1F2937;
}

.products__container {
  display: flex;
  gap: 80px;
}

.products__item {
  width:200px;
  height: 200px;
}

.products__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.products__subtext {
  text-align: center;
  font-weight: bold;
}

/* Testimonial */

.testimonial {
  display: flex;
  flex-direction: column;
}

.testimonial__description {
  font-family: RobotoLightItalic;
  font-size: 36px;
  color: #1f2937e5;
}

.testimonial__author {
  font-size: large;
  align-self: flex-end;
  font-weight: bold;
}

/* Signup */

.signup {
  padding: 30px 70px;
  border-radius: 8px;
  background-color: var(--clr-accent);

  display: flex;
  justify-content: space-between;
}

.signup__container {
  color: var(--clr-secondary);
}

.signup__title {
  font-weight: bold;
}

.signup__description {
  font-size: 12px;
}
